.new-comment {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .add-comment-btn {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .divider {
    margin-top: 10px !important;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  .post-caption {
    margin-top: 5px;
  }
  
  .post-tags {
    color: #4dabf5;
  }
  